* {
  margin: 20;
  padding: 0;
}

body {
  background-color: #036b52;
  color: white;
}

header {
  text-align: center;
}

#controlador {
  display: flex;
  justify-content: center;
}

#controlador button {
  width: 120px;
}

#controlador input {
  font-size: 20px;
  width: 70px;
}

#controlador p {
  padding-right: 20px;
}

#container-piramide {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.piramide {
  display: inline-block;
}

.linha {
  width: 100%;
  height: 3vh;
}

.bloquinho {
  width: 2vw;
  height: 2vh;
  display: inline-block;
  background: #2fc18c;
}

.bloquinho-vazio {
  width: 2vw;
  height: 2vh;
  display: inline-block;
}

.visita {
  padding: 30px;
}
